.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
}

.hero-container {
  background-color: #403d58;
  color: #fff;
  height: 100vh;
}

.hero-image {
  background-image: url(https://images.unsplash.com/photo-1584581893475-7e64f711bdcf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-text {
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  color: white;
  left: 50%;
  top: 50%;
}

.content-container {
  background-color: #dbd56e;
  height: 600px;

}

.content-image {
  background-image: url(https://images.unsplash.com/photo-1562426772-f7b1d159764b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80%;
}

.content-text{
  color:black;
  top: 50%;
  left: 50%;
}

.accordion-container {
  background-color: #fc7753;
  color: #fff;
  height: 400px;
}

.accordion {
  background-color: #fc7753;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  border:black;
  width: 100%;
  outline:none;
}

.active, .accordion:hover {
  background-color: black;
}

.panel {
  background-color: #fc7753;
  overflow: hidden;
  display: none;
}

.footer-container {
  background-color: #f2efea;
  position:relative;
  height: 500px;
  width: 100%;

}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer-text{
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  position:relative;
  font-size: 20px;
  left: 120%;
  top: 120%;
}